@use "../../styles/partials/variables.scss" as *;

.hero {
    padding: $padding-side;

    &__short-text {
        font-family: $font-outfit;
        font-weight: 300;
        padding: $padding-side 0;
    }

    &__long-text {
        font-family: $font-newsreader;
        font-weight: $font-newsreader-light;
        color: $black;
        font-size: 2rem;
    
        &__italic{
            font-style: italic;
        }
    }

}
