@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.hero {

    // .hero-below-filter {
    //     order: 1;
    // }

    &__short-text {
        font-family: $font-outfit;
        font-weight: 300;
        @include heading();
        font-weight: $font-outfit-light;
    }

    &__long-text {
        @include title();
        
        &__italic{
            font-style: italic;
        }
    }

}
