@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.gallery-card {

    @include label();
    @include body-copy();
    @include card-base();

    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: $sage;

    position: relative;

    img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }

    &__details {
        display: flex;
        flex-direction: column ;
        gap: 0.5rem;
        padding: 0.5rem;
        
        @include tablet {
            padding: 0.75rem;
        }

        @include desktop {
            padding: 1rem;
        }
    }

    &__photographer {
        @include small-body();
        margin-left: auto;
        font-size: .7rem;

        position: absolute;
        bottom: 2.5rem;
        right: 0rem;
        @include tag-non-clickable();
        background-color: $sage;
        color: $black;
        border-top: 1px solid $sea-green;
        border-bottom: none;
        border-right: none;
        padding: 0.5rem;

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.75rem;
        text-align: center;
        padding-left: 0.75rem;
        padding-right: 0.75rem;


        @include tablet {
            font-size: 1.1rem;
            padding-top: 1rem;
            bottom: 3.5rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;

        }

        @include desktop {
            font-size: 1.2rem;
            bottom: 4rem;
            padding-left: 1.2rem;
            padding-right: 1.2rem;
            text-align: center;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-right: auto;
        color: $black;




        .gallery-card__tag {
            background-color: $white;
            border: 1px solid $sea-green;
            border-radius: 0.25rem;
            padding: 0.25rem 0.5rem;
            font-size: 0.8rem;
            @include tag-non-clickable();


            @include tablet {
                font-size: 0.9rem;
                padding: 0.3rem 0.6rem;
            }

            @include desktop {
                font-size: 1rem;
                padding: 0.4rem 0.75rem;
            }
        }
    }


}