@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.footer {
    font-family: $font-outfit;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: $padding-side;
    color: black;
    margin-bottom: 0.5rem;
    @include grid-container();
    @include label();

    &__title-content-social-media {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__title {
        @include wordmark();        font-family: $font-newsreader;
        // font-weight: 300;
        // font-size: 3rem;
        // color: $black;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 1.5rem;
    }

    &__content-one, &__content-two {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
    }

    &__social-media {
        display: flex;
        gap: 2rem;
        margin-bottom: 0.5rem;

        @include tablet {
            gap: 0.5rem;
            // margin-left: auto;

            img {
                height: 1.5rem;
                width: 2rem;
            }
        }
    }

    &__copyright {
        display: flex;
        gap: 2rem;
        color: $sea-green;
        margin-bottom: 0rem;
        @include flex-between();
        
        @include tablet {
            justify-content: flex-start;
            gap: 0.5rem;
        }
    }

    &__title-content {
        @include tablet  {
            @include flex-between();
            align-items: flex-end;
            margin-bottom: 3rem;
            margin-top: 3rem;
        }
    }

    &__content {
        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 5rem;
        }

    }

}
