.photo {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    &__image {
        border: solid 5px red;
        max-width: 100%;
    }

    .photo__tag {
        background-color: #e0e0e0;
        padding: 0.5rem 1rem;
        border-radius: 20px;
        font-family: Arial, sans-serif;
        font-size: 0.9rem;
    }
}