@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


a {
    text-decoration: none !important;
}
.header {
    @include grid-container();
    @include flex-between();
    height: 15vh;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 1.5rem $padding-side;


    &__title {
        font-family: $font-newsreader;
        font-weight: $font-newsreader-light;
        color: $black;
        // padding: 0.25rem $padding-side;
        @include wordmark();
    }

    &__filter-button {
        display: flex;
        align-items: center;
        // gap: 1rem;
        // border: solid $forest-green;
        // border-radius: 40px;
        // // padding: 11px 22px 11px 22px;
        // padding: 0.7rem 1.4rem;
        // font-family: $font-outfit;
        // font-weight: 500;
        // color: $forest-green;
        // font-size: 26px;
        @include heading();
        @include cta-default();
        @include cta-icon-spacing();
        // background-color: $white;

        // i

        // color: $forest-green;


        &--active {
            background-color: $forest-green;
            color: $white;

            img {
                filter: invert(1) brightness(2);
            }
        }
    }
    

    &__home-button {
        font-family: $font-outfit;
        font-size: 26px;
        font-weight: 500;
        color: $forest-green;
        text-decoration: none;
        display: flex;
        gap: 0.75rem;
        @include heading();
        font-size: 26px;
    }
}