@use "../../styles/partials/variables.scss" as *;

.header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem $padding-side-mobile;

    &__title {
        font-family: $font-newsreader;
        font-weight: 400;
        font-size: 3rem;
        color: $black;
        padding: 0.25rem $padding-side-mobile;
    }

    &__filter-button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: solid $forest-green;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        font-family: $font-outfit;
        font-weight: 500;
        color: $forest-green;

        &--active {
            background-color: $forest-green;
            color: $white;

            img {
                filter: invert(1) brightness(2);
            }
        }
    }
}