@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;


.main-page {
   @include grid-container();

   display: flex;
   flex-direction: column;

   &__filter-open {

      .filter {
         order: 1
      }

      .hero {
         order: 2
      }

      .gallery-list {
         order: 3
      }
   }
}
